name: CD-Pipeline

on:
  push:
    branches: [main]

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Build Docker image
        run: docker build -t CD-Pipeline .

      - name: Run Docker container
        run: docker run -d -p 8080:80 CD-Pipeline
